<!--*************************************************
 *    Autor:Stephanie Jacqueline Lagunas González.  *
 *    Fecha creación: 06 de febrero del 2023.       *
 *    Fecha actualización: 08 de febrero del 2023.  *
 *    Descripción: Actualización de edit de Autos.  *
 *************************************************-->
@model Proyecto_Agencia.Models.Auto

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Auto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <!-- Formulario de Edición-->
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdAuto" />
            <div class="form-group">
                <label asp-for="Modelo" class="control-label"></label>
                <input asp-for="Modelo" class="form-control" />
                <span asp-validation-for="Modelo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cantidad" class="control-label"></label>
                <input asp-for="Cantidad" class="form-control" />
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
            <br>
            <div>
                <a asp-action="Index" class="btn btn-outline-info">Regresar a la lista</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
