<!--********************************************************
 *    Autor: Alexi Daniel Ramirez Ruiz.                    *
 *    Fecha creación: 06 de febrero del 2023.              *
 *    Fecha actualización: 08 de febrero del 2023.         *
 *    Descripción: Actualización del delete de Refacciones.*
 ********************************************************-->
@model Proyecto_Agencia.Models.Refaccione

@{
    ViewData["Title"] = "Delete";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Agencia_Automotriz</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/crear.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Agencia_Automotriz.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div class="conteiner">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Nombre" class="control-label"></label>
            <input asp-for="Nombre" class="form-control" required placeholder="Ingrese el nombre del producto" />
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Marca" class="control-label"></label>
            <input asp-for="Marca" class="form-control" required placeholder="Ingresa la marca" />
            <span asp-validation-for="Marca" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Precio" class="control-label"></label>
            <input asp-for="Precio" class="form-control" required placeholder="Ingresa el precio" />
            <span asp-validation-for="Precio" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Descripcion" class="control-label"></label>
            <input asp-for="Descripcion" class="form-control" required placeholder="Ingresa una descripcion" />
            <span asp-validation-for="Descripcion" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Cantidad" class="control-label"></label>
            <input asp-for="Cantidad" class="form-control" required placeholder="Cantidad" />
            <span asp-validation-for="Cantidad" class="text-danger"></span>
        </div><br />
        <div class="form-group">
            <input type="submit" value="Registrar" class="btn btn-primary" />
        </div>
    </form>
</div>
<br />
<div>
    <a asp-action="Index" style="color:black">Regresar</a>
</div>
<br />
<h1>__________</h1>
<br />

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}